# Folders:
.DS_Store
.vs/
.vscode/
.vscode/settings.json
bin/
cache/
log/
obj/
node_modules/

# Files:
*.csproj.user
*.json
partiture.tex
archivoPrueba.*
*.o
music

# Project specific:
bison-parser.c
bison-parser.h
flex-scanner.c
